:root{
    font-family: Poppins,sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header{
    background-color: #F2F2F2;
}

.header{
    display: flex;
    padding: 0.79% 6.334% 0.79% 5.54%;
    box-sizing: border-box;
    align-items: center;
    gap: 2.37%;
    flex-wrap: wrap;
}

.navigation{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link{
    cursor: pointer;
    padding: 0 2.34375vw 0 2.34375vw;
}

#services, #projects, #skills-exp{
    cursor: pointer;
    font-size: 3.45vh;
    border: none;
    background: transparent;
}

.logo img{
    height: 13.974vh;
    width: 5.078vw;
}

.intro-div{
    box-sizing: border-box;
    padding: 0 9.5% 6.33% 12.67%;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    flex-wrap: wrap;
}

.intro-text-wrapper{
    flex: 2;
    display: grid;
    gap: 5.44vh;
    padding-top: 1.583%;
}

.intro-text{
    font-size: 6.53vh;
    padding-bottom: 2.375%;
    padding-top: 1.583%;
    line-height: 4.296875vw;
}

span{
    color: #D00066;
    font-family: 'Amita';
    font-size: 8.71vh;
}

.photo{
    flex: 1;
    margin: auto;
}

.photo img{
    width: 78.034vh;
    height: 33.59vw;
}

.buttons{
    display: flex;
    gap: 2.34375vw;
    padding-bottom: 3.053%;
}

.connect, .download{
    font-size: 2.904vh;
    border-radius: 0.781vw;
    padding: 1.527% 2.29% 1.527% 2.29%;
}

.connect{
    background-color: #D00066;
    color: white;
    border: none;
    cursor: pointer;
}

.connect:active, .connect:hover{
    background-color: #bd005d;
}

.download{
    border: 0.363vh #D00066 solid;
    background-color: white;
    display: flex;
    gap: 1.5625vw;
    background-color: #F2F2F2;
    cursor: pointer;
}

.download:active, .download:hover{
    background-color: #e8e8e8;
    border: #bd005d solid;
}

.download p{
    padding: 0;
    margin: 0;
}

.check-out{
    display: flex;
    font-size: 3.63vh;
    align-items: end;
}

.links{
    padding-left: 4.58%;
}

.links i{
    font-size: 4.355vh;
    padding-right: 12.04%;
    cursor: pointer;
}

#in-link, #git-link, #git-sprinkler, #git-ulta, #git-recycle{
    border: none;
    background: transparent;
}

.services{
    background: #ff8404;
    background: linear-gradient(0deg, rgba(253,187,45,1) 60%, #ff8404 100%);
}

.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4.75% 6.334% 2.376% 6.334%;
}

.what-i-do{
    font-size: 8.35vh;
    color: white;
    -webkit-text-stroke: black 0.272vh;
    font-weight: bold;
}

.servises-wrapper{
    display: grid;
    font-size: 5.44vh;
    color: white;
    padding-right: 3.958%;
}

.service{
    border-top: 0.234vw solid white;
    font-weight: bold;
}

.service p{
    padding-left: 5.67%;
}

.skills-exp{
    background-color: #E7DFCF;
    padding: 4.75% 5.542% 2.375% 5.542%;
}

.skills-exp-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.34375vw;
}

.experience-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 9.074vh;
}

.experience-wrapper-title{
    font-size: 7.26vh;
    line-height: 4.140625vw;
}

.quote{
    display: flex;
    gap: 1.5625vw;
}

.quote i{
    font-size: 6.896vh;
}

.short-intro{
    font-size: 3.63vh;
    line-height: 2.656vw;
}

.exp-title{
    font-size: 4.72vh;
    padding-left: 1.83%;
    font-weight: bold;
    padding-bottom: 4.39%;
}

.experience{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5.494% 0 5.494% 0;
    border-top: 0.117vw solid #FF8404;
    gap:  0.78125vw;
}

.date{
    font-size: 3.085vh;
    padding-left: 1.83%;
}

.job-title{
    font-size: 3.27vh;
}

.skills{
    padding: 5.12% 0 5.494% 14.65%;
}

.skills-title{
    font-size: 4.72vh;
    padding: 0 9.157% 3.66% 3.66%;
    font-weight: bold;
}

.skills-block p{
    font-size: 3.63vh;
    padding: 0 9.157% 0 3.66%;;
}

.circle i{
    font-size: 4.356vh;
    padding-top: 22.44%;
}

.skill-desc p{
    font-size: 2.904vh;
    padding: 11.23% 0 22.47% 0;
}

.skill{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2.14% 21.45% 2.14% 4.29%;
}

.circle{
    height: 8.17vh;
    width: 3.515vw;
    background-color: black;
    border-radius: 3.906vw;
    border: 0.16vw #FF8404 solid;
    text-align: center;
    margin: auto;
}

.skill-desc{
    text-align: center;
}

.projects-wrapper{
    background-color: #F2F2F2;
    padding: 4.75% 0 2.375% 0;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lat-project{
    font-size: 7.26vh;
    padding-left: 16.63%;
}

.project-title{
    display: flex;
    padding-bottom: 7.12%;
    align-content: flex-start;
}

.project-title p{
    font-size: 3.994vh;
}

#git-sprinkler, #git-ulta, #git-recycle{
    height: 7.26vh;
    width: 3.125vw;
    background-color: #D00066;
    border-radius: 3.906vw;
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-left: 8.897%;
}

#git-sprinkler i, #git-ulta i, #git-recycle i{
    font-size: 3.27vh;
}


.project-and-title{
    display: grid;
    grid-template-rows: 1fr 3fr;
    
}

.project-img{
    width: 36.298vh;
    height: 15.625vw;
}


.project{
    padding: 0 16.63% 0 16.63%;
}

.pr-desc{
    font-size: 3.08vh;
    padding-top: 7.12%;
    line-height: 2.03125vw;
}

#project-2{
    margin: auto;
}


footer{
    background: rgb(253, 187, 45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 60%, rgba(255,132,4,1) 100%);
}

.footer-block{
    display: flex;
    padding: 3.167% 6.334% 3.167% 7.917%;
    flex-wrap: wrap;
}

.footer-text{
    font-size: 7.62vh;
    color: white;
    -webkit-text-stroke: black 0.272vh;
    font-weight: bold;
    padding-left: 3.958%;
    flex: 1;
}

.contacts{
    font-size: 3.629vh;
    font-weight: bold;
    flex: 2;
    padding-top: 0.95%;
}

.phone{
    padding-bottom: 4.33%;
}

.phone i, .mail i{
    padding-right: 2.886%;
    color: white;
    -webkit-text-stroke: black 0.272vh;
}

